<div class="container">
  <h2 class=" text-center  my-5">All Order</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Customer ID</th>
        <th>Cart ID</th>
        <th>Order Items</th>
        <th>Payment Status</th>
        <th>Total Price</th>
        <th> After Coupon</th>
        <th>Payment Intent ID</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of myCarts">
        <td>{{ cart.customerId }}</td>
        <td>{{(cart.id ).slice(0,10)}}</td>
        <td>
          <ul>
            <li *ngFor="let item of cart.cartItems">
            <span class="text-danger ">Book:</span>  {{ item.name }},<br> <span class="text-danger ">Price:</span>  {{ item.price }}
            </li>
          </ul>
        </td>
        <td>{{ cart.paymentStatus }}</td>
        <td>{{ cart.totalPrice }}</td>
        <td>{{ cart.totalPriceAfterCoupon }}</td>
        <td>{{ cart.paymentIntentId }}</td>

      </tr>
    </tbody>
  </table>
</div>
