<div class="container mt-5">
  <h3 class="title text-center fw-bold mb-3" style="padding-bottom: 10px;">All review</h3>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Book Title</th>
        <th scope="col">Comment</th>
        <th scope="col">Rating</th>
        <th scope="col">User Id</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews">
        <td>{{ review.book?.bookTitle }}</td>
        <td>{{ review.comment }}</td>
        <td>{{ review.rating }}</td>
        <td>{{ review.user }}</td>
        <td><button class="btn btn-danger btn-sm" (click)="handleDelete(review._id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

