/* External CSS File */
.custom-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 12px; /* Adjust padding to increase cell height */
    text-align: left;
    line-height: 1.5; /* Adjust line height to increase cell height */
  }
  
  .custom-table th {
    background-color: #a8896c;
    color: white;
  }
  
  .text-left {
    text-align: left;
  }
  
  .align-middle {
    vertical-align: middle;
  }
  
  .table-btns {
    background-color: #a8896c;
  }
  
  .input-box {
    background-color: #d8cbbb;
    margin-bottom: 20px;
    height: 50px; /* Increase the height of input box */
  }
  .btn-secondary {
    background-color: #a8896c;
    color: white;
  }
  
  