<div class="container">

  <h3 class=" text-center mt-4"> Get All categories</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped mt-3">
      <thead >
        <tr class=" text-center ">
          <th class="text-left align-middle">Name</th>
          <th class="text-left align-middle">Image</th>
          <th class="text-left align-middle">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of myCategories" class=" text-center ">
          <td class="text-left align-middle">{{ category.categoryName }}</td>
          <td class="text-left align-middle">
            <img [src]="category.categoryImage" alt="{{ category.categoryName }}" style="max-width: 100px; max-height: 100px;">
          </td>
          <td class="text-left align-middle">
            <!-- Add your actions buttons here -->
            <button class="btn btn-danger mt-2 table-btns" (click)="handleDelete(category._id)" >Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 class=" text-center mt-4"> Add New Category</h3>

  <form class="mt-5" #myForm="ngForm" (ngSubmit)="handleSubmit(myForm)" enctype="multipart/form-data">
    <div class="form-group mt-3">
      <input type="text" class="form-control w-50 text-center m-auto mb-1" id="newCategory" name="newCategory" placeholder="Enter category name" ngModel required>
    </div>

    <div class="form-group mt-3">
      <input type="file" class="form-control w-50 text-center m-auto mb-1" id="categoryImage" name="categoryImage" accept="image/*" (change)="onFileSelected($event)" required>
    </div>
    <div>
      <button type="submit" class="btn btn-primary  d-block m-auto w-25 mt-3 mb-5">Add Category</button>
    </div>
  </form>


</div>
