<div class="bg-dark sidebar-container">
  <!-- Main Sidebar Container -->
  <aside class="sidebar">
    <!-- Sidebar -->
    <div class="sidebar-content">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
        </div>
        <div class="info">
          <a href="#" class="d-block text-white">Admin</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/user">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/book">Books</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/review">Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/copoun">Copouns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/category">category</a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar-content -->
  </aside>
</div>
