<div class="sidebar-container">
  <aside class="sidebar">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
      <!-- User Panel -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">

        <div class="info">
          <h3>Readify </h3>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/chart">chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/user">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/book">Books</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/review">Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/copoun">Copouns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/category">category</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/order">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/message">Messages</a>
          </li>


          <li>
            <a class="nav-link text-white logout-btn" (click)="logout()">LOG OUT</a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar-content -->
  </aside>
</div>
